body{
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
}
footer{
    margin: auto 0 0;
}
main {
    margin-top: 8rem;
}
main > .container{
	max-width: 1400px;
	margin: auto;
}

.footerContainer{
    padding: 1rem 1rem .5rem;
    border-top: solid 1px var(--blue);
    max-width: 1500px;
    margin: 3rem auto 0;
}